<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="'perfil/usuarios'">Usuarios</button>
  <button mat-menu-item [routerLink]="'perfil'">Perfil</button>
  <button mat-menu-item [routerLink]="'registro'">Registro</button>
  <button mat-menu-item [routerLink]="'perfil/login'">Log out</button>
</mat-menu>
<router-outlet>
    <div class="overlay" *ngIf="loading">
        <div class="center">
            <mat-spinner style="margin: 0 auto;"></mat-spinner>
        </div>
    </div>
</router-outlet>
